@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-slow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-slow {
  animation: slide-slow 25s linear infinite;
}

